<div class="container">
    <div class="section-header">
      <h3>Locations</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
    </div>

    <div class="row">

      <div class="col-lg-9 col-md-9">
        <div class="prop">
          <img src="assets/img/listing-1.jpg" class="img-fluid" alt="">
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        <div class="prop-info-content">
          <h4>CIT Nagar</h4>
          <span>Sed ut perspiciatis unde omnis iste natus error sit </span>  
        </div>
      </div>
        


    </div>
  </div>