<!-- <header id="header">
  <app-header></app-header>
</header> -->
<!-- incorperated directly into index cause js dependency problems -->
<section id="intro">
    <app-intro></app-intro>
</section>

<main id="main">
    <section id="about">
      <app-about></app-about>      
    </section>

    <section id="services">
      <app-services></app-services>
    </section>

    <section id="listing">
      <app-listing></app-listing>
    </section>

    <section id="contact" class="section-bg wow fadeInUp">
      <app-contact></app-contact>
    </section>
</main>

<footer id="footer">
  <app-footer></app-footer>
</footer>