<div class="container">
    <header class="section-header">
      <h3>Services</h3>
      <p>Remember that time when you didn't even have to think about monthly bills or clearing your room? No? We can't either. But that's exactly what you're getting - because you've got better things to do.</p>
    </header>

    <div class="row">

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title">Resident-only App</h4>
          <p class="description">Stay on top of everything - community events, cleaning, rentals, concerns, neighbour info - all through just one app.</p>
      </div>

      <div class="col-sm">
        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
        <h4 class="title">Fully Furnished</h4>
        <p class="description">Moving in with just a bag is now possible. Every Abode has been thoughtfully and uniquely designed to suit your convenience and modern taste.</p>
      </div>

      <div class="col-sm">
        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
        <h4 class="title">Housekeeping Services</h4>
        <p class="description">We know it only feels like home when it's clean. Our housekeeping staff cleans every room and shared spaces regularly.</p>
      </div>

      <div class="col-sm">
        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
        <h4 class="title">On-site Laundry</h4>
        <p class="description">Our homes come equipped with waashing machines that you can use any time of the day or night. No more dirty laundry.</p>
      </div>

    </div>

    <div class="row">

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title">Resident-only App</h4>
          <p class="description">Stay on top of everything - community events, cleaning, rentals, concerns, neighbour info - all through just one app.</p>
      </div>      

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
          <h4 class="title">All-Inclusive Rent and Nominal Deposit</h4>
          <p class="description">Electricity, water, housekeeping - we take care of all that stuff. Pay nothing extra while you stay with us. We understand that blocking a huge sum of money as deposit is a dealbreaker. All of you let go, as the deposit for your stay is 3 months' rent.</p>
      </div>

      <div class="col-sm">
        <div class="icon"><i class="ion-ios-people-outline"></i></div>
        <h4 class="title">Security</h4>
        <p class="description">Round-the-clock CCTV and entry to premises only through designated access cards for the residents & staff - no stranger, no danger.</p>
      </div>

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
          <h4 class="title">Maintenance Experts</h4>
          <p class="description">You won't have to fix a bulb even if you know how to. Our in-house maintenance team responds to all the repairs/maintenance requests promptly.</p>
      </div>

    </div>

    <div class="row">

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title">Live Easy</h4>
          <p class="description">Stay on top of everything - community events, cleaning, rentals, concerns, neighbour info - all through just one app.</p>
      </div>

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          <h4 class="title">Resident-only App</h4>
          <p class="description">Stay on top of everything - community events, cleaning, rentals, concerns, neighbour info - all through just one app.</p>
      </div>
  
      <div class="col-sm">
          <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
          <h4 class="title">Community Events</h4>
          <p class="description">We understand that blocking a huge sum of money as deposit is a dealbreaker. All of you let go, as the deposit for your stay is 3 months' rent.</p>
      </div>

      <div class="col-sm">
          <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
          <h4 class="title">Wi-Fi</h4>
          <p class="description">We understand that blocking a huge sum of money as deposit is a dealbreaker. All of you let go, as the deposit for your stay is 3 months' rent.</p>
        </div>

    </div>

  </div>